.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
    
}
  
footer p {
    text-align: center;
    color: #ccc;
} 